<!DOCTYPE html>
<html>
  <head>
    <%- include('headerlinks') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style_home.css">
    <link rel='stylesheet' href='/stylesheets/style_signup.css' />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title><%= title %></title>
    
    
   
  </head>
  <body>
    <%- include('navbar') %>
    <h2 class="text-center"></h2>
    <br>
    <div class="container">
                    
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Category Name</th>
              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if(records.length>0){
              records.forEach(function(row){
            %>    
              
            <tr>
              <td><%= row.category_name %></td>
              
              <td>
                <button type="button" class="" data-toggle="modal" data-target="#myModal<%= row._id %>"><a class="see" href="#"><i class="fas fa-eye"></i></a></button> 
                <button><a class="edit" href="/viewlistdetails/edit/<%= row._id %>"><i class="fas fa-pen"></i></a></button>
                <button><a class="delete" href="/viewlistdetails/delete/<%= row._id %>" onclick="return confirm('Are you sure you want to delete!')"><i class="fas fa-trash-alt"></i></a></button>
              </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="myModal<%= row._id %>" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    
                    <h4 class="modal-title"><%= row.category_name %></h4>
                  </div>
                  <div class="modal-body">
                    <%- row.password_detail %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
          <% })} %>
          </tbody>
        </table>
      </div>
      
  </body>
</html>
